* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  width: 50%;
  border: 1px solid black;
  height: 400px;
}

.header {
  background-color: hsl(45, 89%, 51%);
  height: 10%;
}

.body {
  background-color: hsl(0, 35%, 90%);
  height: 90%;
  position: relative;

}

.body-container {
  display: flex;
  justify-content: center;
  position: relative;
  position: absolute;
  margin-top: 30px;
  margin-left: 200px;
}

.buttonClick {
  border-radius: 100%;
  margin: 40px;
  padding: 3px;
  position: absolute;
  margin-left: 270px;
  margin-top: 75px;
  background-color: hsl(45, 89%, 51%);
  border: none;
}

.listNote {
  position: absolute;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

}

.note {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: white;
  margin-left: 5px;
}

.material-symbols-outlined {
  position: absolute;
  margin-left: 120px;
}